{% extends 'base.html' %}

{% block content %}
<!--  intro  -->
<section class="mt-3">

</section>
<!-- intro -->

<!-- Products -->
<section>
  <div class="container my-5">
    <header class="mb-4">
      <h3>EXPLORE</h3>
    </header>

<a href="{% url 'posts' %}">
      <div class="col-lg-6">
        <div class="row mb-3 mb-sm-4 g-3 g-sm-4">
          <div class="col-6 d-flex">
            <div class="card w-100 bg-primary" style="min-height: 200px;">
              <div class="card-body">
                <h5 class="text-white">READ BLOGS</h5>
                <p class="text-white-50">Read other's Blogs and gain extra Knowledtge</p>
              </div>
            </div>
          </div>
        </a>

{% if not request.user.is_authenticated  %}
        <a href="{% url 'login' %}">
          <div class="col-6 d-flex">
            <div class="card w-100 bg-primary" style="min-height: 200px;">
              <div class="card-body">
                <h5 class="text-white"> LOGIN</h5>
                <p class="text-white-50">Create Your own profile and start Writing Blogs</p>
              </div>
            </div>
          </div>
        </div>
      </a>
      {% endif  %}
        <!-- row.// -->


      </div>
 
</section>


{% endblock %}