{% extends 'base.html' %} {% block content %}

<!-- Products -->
<section>
  <div class="container my-5">
    <header class="mb-4">
      <h3>MY POSTS</h3>
    </header>

    {% if posts %}
    {% for i in posts %}
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card my-2 shadow-0">
          <a href="#" class="img-wrap">
            <img
              src="{{ i.profile_pic }}"
              class="card-img-top"
              style="aspect-ratio: 1 / 1"
            />
          </a>
          <div class="card-body p-0 pt-3">
            <h5 class="card-title">{{ i.title }}</h5>
            <a href="{% url 'view_post' blog_id=i.id%}" class="img-wrap">
              <p class="text-muted">Click to Open Post</p>
            </a>
            <a href="{% url 'edit_post' blog_id=i.id %}"> Edit Post </a><br>
            <a href="{% url 'delete_post' blog_id=i.id %}"> Delete Post </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}

    {% if not posts %}
    <h3>You Have not created any posts yet. </h3>
    {% endif %}

  </div>
</section>
<!-- Products -->

{% endblock %}
